
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,100&family=Oswald:wght@300;400;500&display=swap');
.container{
  background-color: red;
}



/*
@media screen and (max-width: 375px) {
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .section{
    grid-column: 1/2;
    background-color: red;
  }
}

@media screen and (max-width: 425px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
} */
